.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */

.show-more-button {
  display: block;
  margin: 20px auto; /* Centers the button horizontally */
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007bff; /* Bootstrap primary color for example */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-more-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}
/* App.css */

.app-container {
  display: flex;
  width: 100%; 
}

/* App.css */

.top-headlines {
  width: 25%; /* Increase the width */
  background-color: #f8f9fa; /* Light background for the sidebar */
  padding: 15px;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.1); /* Adding a subtle shadow */
  height: 100vh; /* Make it full height */
  overflow-y: auto; /* Keeps the scrollbar if content overflows */
}

.headline {
  padding: 10px;
  margin-bottom: 10px;
}

.headline:last-child {
  border-bottom: none; /* Removes the line from the last item */
  border-top: none; /* Removes the line from the last item */

}
.headline p {
  margin: 0; /* Remove default paragraph margin */
  font-weight: bold; /* Optional: Makes title text bold */
  color: #333; /* Darker text color for readability */
}


/* Rest of your CSS */
