
header {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 20px;
   background-color: rgb(14, 6, 55);
   width: 100%; /* Ensures full width */
   margin: 0; /* Resets any default margin */
   padding: 0;
   
  }
  
  
  header h1 {
    margin: 0;
    margin-right: 20px; /* Add some space between the title and the buttons */
    color: white;
  
  }
  
  .home-link, .home-button {
    background: none;
    border: none;
    color: inherit; /* or any color you prefer */
    text-decoration: none; /* for the link */
    cursor: pointer;
  }
  
  .home-link h1, .home-button h1 {
    margin: 0; /* Adjust as needed */
  }
  
  nav button {
    margin: 0 5px;
    padding: 15px 20px;
    background-color:rgb(14, 6, 55)   ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: #45a049;
  }
  /* Header.css */

/* Styles for smaller screens (e.g., mobile devices) */
@media (max-width: 844px) {
  nav button {
    display: none; /* Hide buttons on small screens */
  }

  /* Any additional styles for mobile layout */
}
